<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rule.mapper.RuleClassInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.rule.entity.pojo.RuleClassInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="code_body" jdbcType="VARCHAR" property="codeBody" />
    <result column="method_param_type" jdbcType="VARCHAR" property="methodParamType" />
    <result column="field_type" jdbcType="VARCHAR" property="fieldType" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, class_name, method_name, code_body, method_param_type, field_type, gmt_create, 
    gmt_update
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rule_class_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from rule_class_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.rule.entity.pojo.RuleClassInfo">
    insert into rule_class_info (id, class_name, method_name, 
      code_body, method_param_type, field_type, 
      gmt_create, gmt_update)
    values (#{id,jdbcType=BIGINT}, #{className,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, 
      #{codeBody,jdbcType=VARCHAR}, #{methodParamType,jdbcType=VARCHAR}, #{fieldType,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.rule.entity.pojo.RuleClassInfo">
    insert into rule_class_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="methodName != null">
        method_name,
      </if>
      <if test="codeBody != null">
        code_body,
      </if>
      <if test="methodParamType != null">
        method_param_type,
      </if>
      <if test="fieldType != null">
        field_type,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="codeBody != null">
        #{codeBody,jdbcType=VARCHAR},
      </if>
      <if test="methodParamType != null">
        #{methodParamType,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null">
        #{fieldType,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.rule.entity.pojo.RuleClassInfo">
    update rule_class_info
    <set>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        method_name = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="codeBody != null">
        code_body = #{codeBody,jdbcType=VARCHAR},
      </if>
      <if test="methodParamType != null">
        method_param_type = #{methodParamType,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null">
        field_type = #{fieldType,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.rule.entity.pojo.RuleClassInfo">
    update rule_class_info
    set class_name = #{className,jdbcType=VARCHAR},
      method_name = #{methodName,jdbcType=VARCHAR},
      code_body = #{codeBody,jdbcType=VARCHAR},
      method_param_type = #{methodParamType,jdbcType=VARCHAR},
      field_type = #{fieldType,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findByTemplateMethod" resultMap="BaseResultMap">
    select * from rule_class_info where class_name = #{templateName} and method_name =#{templateMethodName}
  </select>
</mapper>